/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duratino: 0.6s;
  }

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans';
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 10px 10px;
}

/* navbar */
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color: var(--color-black);
    padding: 16px;
    transition: all var(--animation-duratino) ease;
    z-index: 1;
}

#navbar.navbar-dark {
    /* transition: all var(--animation-duration) ease-in-out; */
    background-color: var(--color-orange);
    padding: 8px;
}

.navbar_logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar_menu {
    display: flex;
}

.navbar_menu_items {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
    border: 1px solid transparent;
}

/* .navbar_menu_items.active {
    border: 1px solid var(--color-white);
} */

.navbar_menu_items:hover {
    background-color: var(--color-dark-pink);
    border: 1px solid var(--color-white);
}

.navbar_toggle-btn {
    position: absolute;
    top: 24px;
    display: none;
    /* opacity도 가능하긴한디.. 버튼이 먹힌다.. */
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
}

/* Home */
#home {
    background: url('images/headerBG.png') center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home_profile {
    width: 200px;
    height: 280px;
    border-radius: 50%;
    border: 1px solid var(--color-white);
}

.home_title,
.home_description {
    color: var(--color-black);
}

.home_contact {
    color: var(--color-black);
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-black);
    border-radius: var(--size-border-radius);
}

.home_container {
    padding-top: 50px;
}

.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.up-on-scroll {
    transition: transform 1.5s, opacity 0.8s;
}

.section_container {
    max-width: 1200px;
    margin: auto;
}

/* About */
.about_major {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major_icon {
    width: 250px;
    height: 250px;
    font-size: 70px;
    line-height: 250px;
    background-color: var(--color-white);
    margin: auto;
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
    color: var(--color-blue);
}

.major_title, .major_description {
    color: var(--color-dark-grey);
}

.major_icon:hover i{
    color: var(--color-dark-pink);
    transform: rotate(360deg) scale(1.1);
    transition: all var(--animation-duratino) ease;
}

.major_description {
    font-size: var(--font-small);
}

.job {
   display: flex; 
   justify-content: center;
}

.job_description {
    margin: 0 16px;
    text-align: left;
}

.job_name, .job_period {
    color: var(--color-light-grey);
}

.job_name {
    font-size: var(--font-small);
}

.job_period {
    font-size: var(--font-micro);
}

.job_logo {
    width: 6rem;
    height: 3rem;
    margin-top: 0.7rem;
}

#skills {
    background-color: var(--color-yellow);
}

.skill {
    margin-bottom: 32px;
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: auto;
}

.skillset_left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skillset_right {
    flex-basis: 40%;
}

.skillset_title {
    color: var(--color-light-white);
    margin: 0 0 20px 0;
}

.tools {
    background-color: var(--color-grey);
}

.skills_description {
    display: flex;
    justify-content: space-between;
}

.skill_bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-dark-white);
}

.skill_value {
    height: 3px;
    background-color: var(--color-orange);
}

.tools, .etc {
    padding: 20px;
}

.work_category {
    margin: 40px;
}

.category_btn {
    border: 1px solid var(--color-black);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category_btn.selected .category_count,
.category_btn:hover .category_count {
    opacity: 1;
}

.category_btn.selected,
.category_btn:hover {
    color: var(--color-white);
    background-color: var(--color-pink);
}

.category_count {
    background-color: var(--color-orange);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    opacity: 0;
    position: relative;
    transition: all var(--animation-duratino) ease;
}

.work_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duratino) ease-out;
}

.work_projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}
/* positon default === static 따로 안걸어주면
최상위 body로 가버림
*/

.project.invisible {
    display: none;
}

.project_img {
    max-width: 100%;
    max-height: 100%;
}

.project_description {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duratino) ease-in;
}

.project_description:hover {
    opacity: 0.8;
    transform: translateY(0);
}

.project_description h3, span {
    color: var(--color-white);
}

.project_description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    margin-left: -12px;
    margin-top: 8px;
    width: 25px;
    height: 2px;
    background-color: var(--color-dark-white);
}

/* Testimonial */
#testimonials {
    background-color: var(--color-light-white);
}

.testimonials {
    margin-top: 40px;
}

.testimonial {
    display: flex;
    margin: 32px 0;
    justify-content: center;
}

.testimonial_avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.testimonial_avatar:nth-child(odd) {
    margin-right: 40px;
}

.testimonial_avatar:nth-child(even) {
    margin-left: 40px;
}
    
.testimonial_speech-bubble {
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
}

.testimonial_speech-bubble p {
    color: var(--color-light-grey);
}

.testimonial_speech-bubble a {
    color: var(--color-dark-pink);
}

/* Contact */
#contact {
    background-color: var(--color-orange);
}

.contact_title,
.contact_email,
.contact_rights {
    color: var(--color-white);
}

.contact_title {
    margin: 32px 0;
}

.contact_links {
    font-size: x-large;
    margin: 24px 0;
}

.contact_links i:hover {
    transform: scale(4);
    transition: all var(--animation-duratino) ease;
}

/* scroll */
#myBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 30px;
    color: var(--color-white);
    background-color: var(--color-dark-pink);
    /* border-radius: var(--size-border-radius); */
    border-radius: 95%;
    opacity: 0;
    pointer-events: none;
    /* 불투명도 최대일때 사용자가 버튼클릭 못하게 아예 없애줌 */
    transition: all 300ms ease-in;
}

#myBtn.visible {
    opacity: 1;
    pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
    .navbar_toggle-btn {
        display: block; 
        /* 768px 이하면 block으로 보여줌 */
    }
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-orange);
    }
    #navbar.navbar-dark {
        padding: 16px;
    }

    .navbar_menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar_menu.open {
        display: block;
    }

    .about_major {
        flex-direction: column;
    }

    .major {
        margin-bottom: 38px;
    }

    .skillset {
        flex-direction: column;
    }

    .testimonial_avatar {
        width: 80px;
        height: 80px;
    }
}