/* Global */
:root {
    /* color */
    --color-skyblue: skyblue;
    --color-black: black;

    /* Font color */
    --font-large: 48px;
    --font-regular: 24px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */

}

/* Universal tags */
* {
    box-sizing: border-box;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

.home_profile {
    width: 20vw;
    height: 20vh;
}

.job_logo {
    width: 6rem;
    height: 3rem;
}

.project_img {
    width: 15rem;
    height: 20rem;
}